*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    scroll-snap-align: start;
}

#contenedor{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.one{
    margin: 10px;
    background-color: red;
} .second{
    margin: 10px;
    background-color: blue;
} .three{
    margin: 10px;
    background-color: blueviolet;
} .four{
    margin: 10px;
    background-color: brown;
}